* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0d1f3d;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #002952;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.image {
    display: flex;
    justify-content: center;
    width: 1500px;
}

.heading {
    text-align: center;
}

.content {
    padding-bottom: 50px;
    font-size: 20px;
    text-align: justify;
    width: 1325px;
    height: 100px;
    padding-left: 250px;
    padding-right: 80px;
    padding-top: 30px;
}