* {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.home {
    background-image: url("https://www.evartha.in/wp-content/uploads/2019/09/Metro_Kochi_new1_760x400.jpg");
    background-repeat: no-repeat;
    height: 750px;
    align-items: flex-start;
}

.header {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.title {
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0d1f3d;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #002952;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.reg_btn {
    border: 0px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.log_btn {
    border: 0px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}