* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0d1f3d;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #002952;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.container {
    background-color: aliceblue;
    height: 750px;
}