* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0d1f3d;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #002952;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.container {
    background-image: url("http://entecity.com/news/files/2017/06/kochi-metro-train-compressed.jpg");
    background-repeat: no-repeat;
    height: 750px;
    align-items: flex-start;
}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 20px;
}

.title {
    color: #fff;
    font-size: 30px;
}

h1 {
    margin: 0;
    color: #fff;
}

.h4 {
    color: #fff;
    padding-top: 400px;
}

.trains_btn {
    border: 0px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.ticket_btn {
    border: 0px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 400px;
    padding-bottom: 8px;
}